.topbar {
    /* background: linear-gradient(to right, #f8f9fa, #ffffff) !important; */
    background: transparent !important;
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    margin: 0 10px 15px 10px;
    padding: 5px 10px; */
    transition: all 0.3s ease;
}

.topbar nav {
    text-align: justify;
}

.topbar h3 {
    font-weight: 600;
    color: #333;
}

.topbar .d-flex.align-items-center {
    transition: transform 0.2s ease;
}

.topbar .d-flex.align-items-center:hover {
    transform: translateX(-3px);
}

.topbar .back-icon svg {
    color: #2b7cd1;
}
