.items-ejercicio-small {
    width: 50px;
}
.items-ejercicio {
    width: 80px;
}

.observaciones-input {
    text-align: justify;
}

.form-check-input:checked {
    background-color: green;
    border-color: green;
}