.container-caducacion {
    max-width: 357px;
}

/* .input-caducacion {
    max-width: 54px;
}
.span-caducacion {
    width: auto;
    max-width: 54px;
}


@media (min-width: 763px) {
    .input-caducacion {
        max-width: 74px;
    }
    .span-caducacion {
        width: 74px;
        max-width: 74px;
    }
} */